<div class="container">
  <form #loginForm="ngForm" class="login-card">
    <h2 class="heading">Log In</h2>
      <label class="label">Email</label>
        <input
          placeholder="Enter your email address"
          [(ngModel)]="email"
          type="email"
          name="email"
          class="form-input"
          required />
      <label class="label">Password</label>
        <input type="password"
          placeholder="Enter your password"
          [(ngModel)]="password"
          name="password"
          class="form-input"
          minlength="6"
          required/>
      <button
        [disabled]="!loginForm.form.valid"
        type="submit"
        class="btn"
        id="btn-login"
        (click)="login()">
        Log In
      </button>
    </form>
</div>
